{% extends 'base.html' %}
{% block main %}
<div class="flex-col main-container">
    <div id="success-alert" class="alert alert-success hidden"></div>
    <div id="error-alert" class="alert alert-error hidden"></div>
    <br>
    <form id="edit-item-form"></form>
</div>
{% endblock %}

<!-- Load script to verify authorization before loading
form and to edit item when form is submitted -->
{% block scripts %}
<script>
    require(['config'], function() {
        require(['pages/edit_item/edit_item_get_item']);
    });
</script>
{% endblock %}
