{% extends 'base.html' %}
{% block main %}
<div class="flex-col main-container">
    <div id="success-alert" class="alert alert-success hidden"></div>
    <div id="error-alert" class="alert alert-error hidden"></div>
    <br>
    <form id="new-item-form"></form>
</div>
{% endblock %}

<!-- Load script to get list of categories and
create new item when form is submitted -->
{% block scripts %}
<script>
    require(['config'], function() {
        require(['pages/new_item/new_item_get']);
    });
</script>
{% endblock %}
