{% extends 'index.html' %}
{% block item %}
    <h3>{{category}} Items</h3>
    <a class="links" href="{{url_for('new_item')}}">Add item</a>
    <ul>
        {% for item in items %}
            <li>
                <a href="{{url_for('item_info', category=item.category_id, id=item.id)}}">{{item.name}}</a>
                <a class="links" href="{{url_for('edit_item', category=item.category_name, id=item.id)}}">Edit</a>
                <a class="links" href="{{url_for('delete_item', category=item.category_name, id=item.id)}}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
