{% extends 'base.html' %}
{% block main %}
    <div class="flex-col main-container">
        <form action="" method="post" >
            <div class="form-group">
                <h3>Edit Category</h3>
                <p>
                    <label for="name">Name:</label>
                </p>
                <input type="text" maxlength="100" name="name" value="{{category.name}}" required>
                <div class="form-btn">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
