{% extends 'base.html' %}
{% block main %}
    <div class="flex-col main-container">
        <h2>Welcome Home!</h2>
        <div class="flex-row catalog">
            <div class="category">
                <h3>Categories</h3>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{{url_for('category', category=category.name)}}">{{category.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="item">
                <h3>Items</h3>
                <ul>
                    {% for item in items %}
                        <li>
                            <a href="{{url_for('item_info')}}">{{item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <div>
    </div>
{% endblock %}
