{% extends 'base.html' %}
{% block main %}
    <div class="flex-col main-container">
        <div class="login-container">
            <h2>Log In</h2>
            <div class="google">
                <a class="login-btn" href="{{url_for('oauth', provider='google')}}">Log in using Google</a>
            </div>
            <div class="facebook">
                <a class="login-btn" href="{{url_for('oauth', provider='facebook')}}">Log in using Facebook</a>
            </div>
        </div>
    </div>
{% endblock %}
